html {
    height: 2000px;
}

header {
    background-color:  cornflowerblue;
    top: 0;
}

content {
    height: 500px;
    width: 500px;
}

content .chitietnhom {
    list-style: none;
    font-size: 20px;
}

content .chitietweb {
    list-style: none;
}

content .chitietweb li {
    font-size: 20px;
}

